In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.options.display.float_format = "{:,.2f}".format

In [49]:
from auxiliary.data_import import *

# First I need to prepare the data - later i will transform it into a function and put it into the auxiliary file

In [50]:
importing_regiondata()

NameError: name 'pd' is not defined

In [33]:
regiondata = pd.read_stata("data/regiondata.dta")
regiondata.describe()

,afruid,year,petu,preu,tmpu,lon,lat,areasqkm,centdistcoast,urbpop,...,extent_agH_moistu_D_moist_GT1,ADsm0_2moistu_nb,extent_agE_ADsm0_2moistu_nb,extent_agH_ADsm0_2moistu_nb,abspctileADsm0_2moistu,abspctileADurbfrac,topcsquintileglobalfirsturb,nottopcsquintileglobalfirsturb,ntcqg_ADsm0_2moistu,countryyear
count,741.00,741.00,741.00,741.00,741.00,741.00,741.00,741.00,741.00,741.00,...,741.00,741.00,741.00,741.00,741.00,741.00,741.00,741.00,741.00,741.00
mean,"598,894.79","1,993.80","1,282.20","1,013.68",23.48,24.27,-1.57,"40,843.09",594.12,"222,540.83",...,-0.03,-0.00,-0.04,-0.06,185.75,185.75,0.18,0.82,-0.00,31.35
std,"300,619.51",10.30,332.96,428.36,3.85,16.38,11.78,"78,044.64",387.61,"402,376.59",...,0.11,0.01,0.12,0.18,107.03,107.03,0.38,0.38,0.01,16.92
min,"72,001.00","1,970.00",509.16,16.23,6.22,-17.27,-30.36,72.64,0.91,689.00,...,-0.61,-0.07,-0.64,-1.00,1.00,1.00,0.00,0.00,-0.07,1.00
25%,"404,033.00","1,987.00","1,024.18",750.30,21.26,16.41,-10.78,"3,605.99",251.51,"21,504.00",...,-0.04,-0.01,-0.10,-0.15,93.00,93.00,0.00,1.00,-0.01,18.00
50%,"508,009.00","1,993.00","1,243.74","1,036.61",23.66,31.76,0.19,"12,321.36",599.89,"72,889.00",...,0.00,-0.00,-0.03,-0.05,186.00,186.00,0.00,1.00,-0.00,30.00
75%,"800,050.00","2,002.00","1,564.11","1,253.12",26.32,34.85,6.91,"49,209.50",896.51,"228,539.00",...,0.00,0.00,0.03,0.04,278.00,278.00,0.00,1.00,0.00,50.00
max,"1,404,040.00","2,009.00","1,996.12","2,790.99",30.31,49.41,24.19,"623,518.25","1,766.35","3,317,460.00",...,0.38,0.04,0.29,0.46,371.00,371.00,1.00,1.00,0.05,59.00

In [42]:
data = regiondata.query("abspctileADsm0_2moistu > 6 & abspctileADurbfrac > 6")

var_list = ["ADsm0_2moistu", "mean_moistu1950_69", "ADurbfrac", "firsturbfrac", "lndiscst",
            "areasqkm", "extent_agE", "extent_agH", "D_moist_GT1"]

data.sort_values(by = var_list)

data = data[var_list]
data.rename(columns={"ADsm0_2moistu" : "Annualized moisture growth"})

,Annualized moisture growth,mean_moistu1950_69,ADurbfrac,firsturbfrac,lndiscst,areasqkm,extent_agE,extent_agH,D_moist_GT1
0,0.02,0.41,0.02,0.36,6.64,"146,716.77",9.00,14.00,0.00
1,-0.01,0.36,0.03,0.22,6.72,"114,410.48",9.00,14.00,0.00
2,0.00,0.45,0.01,0.44,6.45,"7,820.51",9.00,14.00,0.00
3,0.01,0.41,0.03,0.41,6.69,"36,938.09",9.00,14.00,0.00
4,0.02,0.47,0.00,0.60,6.55,"5,342.00",9.00,14.00,0.00
...,...,...,...,...,...,...,...,...,...
736,-0.03,1.17,0.00,0.17,6.23,"9,694.79",9.00,14.00,1.00
737,-0.03,0.68,0.07,0.00,5.88,"21,668.92",9.00,14.00,0.00
738,-0.02,1.27,0.01,0.02,6.28,"17,698.20",9.00,14.00,1.00
739,-0.01,1.45,0.04,0.24,6.25,"7,589.75",7.00,9.00,1.00
740,-0.01,2.15,0.17,0.03,6.39,"4,946.77",9.00,14.00,1.00

In [29]:
regiondata.columns

Index(['afruid', 'year', 'petu', 'preu', 'tmpu', 'lon', 'lat', 'areasqkm',
       'centdistcoast', 'urbpop', 'totpop', 'primate', 'primwide', 'capital',
       'isoyr', 'iso3v10', 'province', 'firstcensus', 'lastcensus',
       'yearssince_prev_census', 'yearssince_first_census', 'urbfrac',
       'ADurbfrac', 'extent_agE', 'extent_agH', 'firstcensusyear', 'moistu',
       'sm0_2preu', 'sm0_2tmpu', 'sm0_2petu', 'ADsm0_1moistu', 'ADsm0_1preu',
       'ADsm0_1tmpu', 'ADsm0_1petu', 'ADsm0_2moistu', 'ADsm0_2preu',
       'ADsm0_2tmpu', 'ADsm0_2petu', 'ADsm0_3moistu', 'ADsm0_3preu',
       'ADsm0_3tmpu', 'ADsm0_3petu', 'ADsm0_4moistu', 'ADsm0_4preu',
       'ADsm0_4tmpu', 'ADsm0_4petu', 'firsturbfrac', 'firsttotpop',
       'mean_moistu1950_69', 'D_moist_GT1', 'lndiscst',
       'ADsm0_2moistulndiscst', 'D_moist_GT1ADsm0_2moistu',
       'D_moist_GT1firsturbfrac', 'D_moist_GT1lndiscst',
       'extent_agE_ADsm0_1moistu', 'extent_agE_ADsm0_2moistu',
       'extent_agE_ADsm0_3moistu', 'extent_agE_ADsm0_4moistu',
       'extent_agE_ADsm0_2preu', 'extent_agE_ADsm0_2tmpu',
       'extent_agE_ADsm0_2petu', 'extent_agE_D_moist_GT1',
       'extent_agE_moistu_D_moist_GT1', 'extent_agH_ADsm0_1moistu',
       'extent_agH_ADsm0_2moistu', 'extent_agH_ADsm0_3moistu',
       'extent_agH_ADsm0_4moistu', 'extent_agH_ADsm0_2preu',
       'extent_agH_ADsm0_2tmpu', 'extent_agH_ADsm0_2petu',
       'extent_agH_D_moist_GT1', 'extent_agH_moistu_D_moist_GT1',
       'ADsm0_2moistu_nb', 'extent_agE_ADsm0_2moistu_nb',
       'extent_agH_ADsm0_2moistu_nb', 'abspctileADsm0_2moistu',
       'abspctileADurbfrac', 'topcsquintileglobalfirsturb',
       'nottopcsquintileglobalfirsturb', 'ntcqg_ADsm0_2moistu', 'countryyear'],
      dtype='object')

In [27]:
df_subgroup = regiondata[["isoyr", "iso3v10", "province"]]
df_subgroup.loc[(slice(20,30))]

      isoyr iso3v10           province
20  CMR1987     CMR          Sud-Ouest
21  CMR2005     CMR          Sud-Ouest
22  CAF1988     CAF  Bamingui-Bangoran
23  CAF2003     CAF  Bamingui-Bangoran
24  CAF1988     CAF        Basse-Kotto
25  CAF2003     CAF        Basse-Kotto
26  CAF1988     CAF        Haut-Mbomou
27  CAF2003     CAF        Haut-Mbomou
28  CAF1988     CAF        Haute-Kotto
29  CAF2003     CAF        Haute-Kotto
30  CAF1988     CAF               Kémo

In [20]:
regiondata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 741 entries, 0 to 740
Data columns (total 82 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   afruid                          741 non-null    int32
 1   year                            741 non-null    float32
 2   petu                            741 non-null    float32
 3   preu                            741 non-null    float32
 4   tmpu                            741 non-null    float32
 5   lon                             741 non-null    float32
 6   lat                             741 non-null    float32
 7   areasqkm                        741 non-null    float32
 8   centdistcoast                   741 non-null    float32
 9   urbpop                          741 non-null    float64
 10  totpop                          741 non-null    float64
 11  primate                         741 non-null    int8
 12  primwide                        741 non-null    int8
 13  capital                         741 non-null    int8
 14  isoyr                           741 non-null    object
 15  iso3v10                         741 non-null    object
 16  province                        741 non-null    object
 17  firstcensus                     741 non-null    float32
 18  lastcensus                      741 non-null    float32
 19  yearssince_prev_census          741 non-null    float32
 20  yearssince_first_census         741 non-null    float32
 21  urbfrac                         741 non-null    float32
 22  ADurbfrac                       741 non-null    float32
 23  extent_agE                      741 non-null    float32
 24  extent_agH                      741 non-null    float32
 25  firstcensusyear                 741 non-null    float32
 26  moistu                          741 non-null    float32
 27  sm0_2preu                       741 non-null    float32
 28  sm0_2tmpu                       741 non-null    float32
 29  sm0_2petu                       741 non-null    float32
 30  ADsm0_1moistu                   741 non-null    float32
 31  ADsm0_1preu                     741 non-null    float32
 32  ADsm0_1tmpu                     741 non-null    float32
 33  ADsm0_1petu                     741 non-null    float32
 34  ADsm0_2moistu                   741 non-null    float32
 35  ADsm0_2preu                     741 non-null    float32
 36  ADsm0_2tmpu                     741 non-null    float32
 37  ADsm0_2petu                     741 non-null    float32
 38  ADsm0_3moistu                   741 non-null    float32
 39  ADsm0_3preu                     741 non-null    float32
 40  ADsm0_3tmpu                     741 non-null    float32
 41  ADsm0_3petu                     741 non-null    float32
 42  ADsm0_4moistu                   741 non-null    float32
 43  ADsm0_4preu                     741 non-null    float32
 44  ADsm0_4tmpu                     741 non-null    float32
 45  ADsm0_4petu                     741 non-null    float32
 46  firsturbfrac                    741 non-null    float32
 47  firsttotpop                     741 non-null    float32
 48  mean_moistu1950_69              741 non-null    float32
 49  D_moist_GT1                     741 non-null    float32
 50  lndiscst                        741 non-null    float32
 51  ADsm0_2moistulndiscst           741 non-null    float32
 52  D_moist_GT1ADsm0_2moistu        741 non-null    float32
 53  D_moist_GT1firsturbfrac         741 non-null    float32
 54  D_moist_GT1lndiscst             741 non-null    float32
 55  extent_agE_ADsm0_1moistu        741 non-null    float32
 56  extent_agE_ADsm0_2moistu        741 non-null    float32
 57  extent_agE_ADsm0_3moistu        741 non-null    float32
 58  extent_agE_ADsm0_4moistu        741 non-null    float32
 59  extent_agE_ADsm0_2preu          741 non-null    float32
 60  extent_agE_ADsm0_2tmpu          741 non-null    float32
 61  extent_agE_ADsm0_2petu          741 non-null    float32
 62  extent_agE_D_moist_GT1          741 non-null    float32
 63  extent_agE_moistu_D_moist_GT1   741 non-null    float32
 64  extent_agH_ADsm0_1moistu        741 non-null    float32
 65  extent_agH_ADsm0_2moistu        741 non-null    float32
 66  extent_agH_ADsm0_3moistu        741 non-null    float32
 67  extent_agH_ADsm0_4moistu        741 non-null    float32
 68  extent_agH_ADsm0_2preu          741 non-null    float32
 69  extent_agH_ADsm0_2tmpu          741 non-null    float32
 70  extent_agH_ADsm0_2petu          741 non-null    float32
 71  extent_agH_D_moist_GT1          741 non-null    float32
 72  extent_agH_moistu_D_moist_GT1   741 non-null    float32
 73  ADsm0_2moistu_nb                741 non-null    float32
 74  extent_agE_ADsm0_2moistu_nb     741 non-null    float32
 75  extent_agH_ADsm0_2moistu_nb     741 non-null    float32
 76  abspctileADsm0_2moistu          741 non-null    float32
 77  abspctileADurbfrac              741 non-null    float32
 78  topcsquintileglobalfirsturb     741 non-null    float32
 79  nottopcsquintileglobalfirsturb  741 non-null    float32
 80  ntcqg_ADsm0_2moistu             741 non-null    float32
 81  countryyear                     741 non-null    float32
dtypes: float32(73), float64(2), int32(1), int8(3), object(3)
memory usage: 267.3+ KB